#node
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
#vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
[._][sS]ession.vim
.netrwhist
*~
*.lock
#system
tags
#project
**.js
**.d.ts
**lock.json
!/types/*.d.ts
**.map
!*.config.js
.nyc_output/
