#node
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
#vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
[._][sS]ession.vim
.netrwhist
*~
*.lock
#system
tags
#project
**.ts
!**.d.ts
**.spec.*
**.map
**.json
.*
